.rating-tablephp {
    
    .rating-entry-row {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        padding: 11px;
        background-color: white;
        border: white 1px;
        box-shadow: 0 3px 9px #0000001f;
        margin: 5px 0px;


        .item-meta-wrapper{
            flex-basis: 80%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: start;

            .item-img{
                max-width: 300px;
                flex-basis: 20%;
            }

            .item-meta{
                flex-basis: 80%;
                padding: 11px;

                .rating-block {
                    display: inline-flex;
                    align-items: center;
                }

                .rating-avg{
                    margin-right: 5px;
                }
            }
        }
        
        .item-actions{
            flex-basis: 20%;
            // display: flex;
            // flex-direction: row;
            // flex-wrap: nowrap;
            // justify-content: space-between;

            .wp-block-button{
                padding: 5px;
            }
        }

    }
}